 body {
   font-family: "Roboto", sans-serif;
   color: #434455;
   background-color:#FFFFFF;

 }

 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 p {
    margin: 0;
 }

 a {
    text-decoration: none;
 }

 ul,
 ol {
    list-style: none;
    padding: 0;
    margin: 0;
 }

 img {
    display: block;
    max-width: 100%;
    height: auto;
 }

 address {
    font-style: normal;
 }

 header {
    
 }

 .container {
    
 }


 .header-container {
    
 }

 .navigation {
    
 }

 .logo {
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;

 }

 .logo-part {
    color: #2e2f42;
 }

 .nav-list {
    
 }

 .nav-link {
    color: #2e2f42;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    display: block;
 }

 .nav-link:hover,
 .nav-link:focus {
    color: #404BBF;
 }

 .address {
    font-style: normal;
    margin-left: auto;

 }

 .address-list {
    
 }

 .address-link {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

 }

 .address-link:hover,
 .address-link:focus {
    color: #404BBF;
 }

 /*---Hero---*/

 .hero {
    background-color: #2e2f42; 
    
 }

 .hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffffff;
 }

 .hero-buy-button {
   background-color: #4d5ae5;
   font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
 }

 .hero-buy-button:hover,
 .hero-buy-button:focus {
   background-color: #404BBF;
 }

 /*--Skill--*/

 .skills-section {
    

 }

 .skil-tetle {
      font-weight: 700;
      font-size: 36px;
      line-height: 1.11;
      letter-spacing: 0.02em;
      text-align: center;
      color: #434455;
 }

 .ski-conteiner {
    

 }

 .skills-list {
    

 }

 .skills-item {
    
 }

 .skil-sabtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    
 }

 .skills-item-text {
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.02em;
      color: #434455;
 }

 /*--Tem--*/

 .tem-section {
   background-color: #434455;
 }

 .tem-title {
      font-weight: 700;
      font-size: 36px;
      line-height: 1.11;
      letter-spacing: 0.02em;
      text-align: center;
      text-transform: capitalize;
      color: #2e2f42;
 }

 .tem-list {
  background-color: #FFFFFF;

 }

 .tem-item {
   
 }

 .tem-imeges {
    display: block;
    max-width: 100%;
    height: auto;
 }

 .text-conteiner {
    
 }

 .sab-title-item {
      font-weight: 500;
      font-size: 20px;
      line-height: 1.2;
      letter-spacing: 0.02em;
      text-align: center;
      color: #2e2f42;
 }

 .tem-item-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
 }

 /*--Portfolio--*/

 .portfolo-section {
    
 }

 .portfolio-container {
    
 }

 .portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
 }

 .portfolio-list {
    
 }

 .portfolio-item {
    

 }

 .port-cont-text {
    
 }

 .portf-sabtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
 }

 .portfolio-item-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
 }

 /*--Footer--*/

 .footer-section {
    background: #2e2f42;
    

 }

 .footer-conteiner {
    
 }

 .footer-text {
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
    color: #F4F4FD;
    

 }

 .footer-link-logo {
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4d5ae5;
   text-transform: uppercase;
 }

 .footer-logo-color {
   color: #f4f4fd;
    
 }