 body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;


 }

 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 p {
    margin: 0;
 }

 a {
    text-decoration: none;
 }

 ul,
 ol {
    list-style: none;
    padding: 0;
    margin: 0;
 }

 img {
    display: block;
    max-width: 100%;
    height: auto;
 }

 address {
    font-style: normal;
 }

 header {
    
 }

 .container {
    
 }


 .header-container {
    
 }

 .navigation {
    
 }

 .logo {
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;

 }

 .logo-part {
    color: #2e2f42;
 }

 .nav-list {
    
 }

 .nav-link {
    color: #2e2f42;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    display: block;
 }

 .nav-link:hover,
 .nav-link:focus {
    color: #404BBF;
 }

 .address {
    font-style: normal;
    margin-left: auto;

 }

 .address-list {
    
 }

 .address-link {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

 }

 .address-link:hover,
 .address-link:focus {
    color: #404BBF;
 }

 /*---Hero---*/

 .hero {
    background: #2e2f42;
    
 }

 .hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 496px;
    margin: auto;
    padding: 0px;
 }

 .hero-buy-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4d5ae5;
    display: block;
    text-align: center;
    min-width: 169px;
    height: 56px;
    top: 428px;
    left: 636px;
    padding: 16px, 32px, 16px, 32px;
    border: none;
    border-radius: 4px;
    gap: 10px;
    cursor: pointer;
    box-shadow: 0 4px 4px 0, rgba 0, 0, 0, 0.15;
    margin-top: 60px;
    margin-left: 500px;
 }

 /*--Skill--*/

 .skills-section {
    

 }

 .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
 }

 .ski-conteiner {
    

 }

 .skills-list {
    

 }

 .skills-item {
    
 }

 .skil-sabtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-left: 0px;
    margin-bottom: 8px;
    padding-left: 0px;
    text-align: left;
 }

 .skills-item-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    margin-bottom: 5px;
    padding: 0px;


 }

 /*--Tem--*/

 .tem-section {
    
 }

 .tem-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin: 0;
    text-align: center;
    margin-bottom: 72px;
    padding-bottom: 72px;

 }

 .tem-list {
    

 }

 .tem-item {
   
 }

 .tem-imeges {
    display: block;
    max-width: 100%;
    height: auto;
 }

 .text-conteiner {
    
 }

 .sab-title-item {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
    padding: 0;
 }

 .tem-item-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    margin: 0;
    padding: 0 0 32px 0;

 }

 /*--Portfolio--*/

 .portfolo-section {
    
 }

 .portfolio-container {
    
 }

 .portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
 }

 .portfolio-list {
    
 }

 .portfolio-item {
    

 }

 .portfolio-imeges {
    display: block;
    max-width: 100%;
    height: auto;
 }

 .port-cont-text {
    
 }

 .portf-sabtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-left: 0;
    margin-bottom: 8px;
    padding-left: 0px;

 }

 .portfolio-item-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    margin: 0;
    padding-left: 0px;

 }

 /*--Footer--*/

 .footer-section {
    background: #2e2f42;
    

 }

 .footer-conteiner {
    
 }

 .footer-text {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    margin: 0px;
    padding: 0px;
    max-width: 264px;

 }

 .footer-link-logo {
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.03em;
    text-align: left;
    color: #F4F4FD;
    display: inline-block;
    margin-bottom: 16px;
 }

 .footer-logo-color {
    color: #4D5AE5;
    cursor: pointer;
 }